
.sampletype-item.powerapps {
    background-image: url(../img/products/powerapps.svg);
}

.sampletype-item.powerautomate {
    background-image: url(../img/products/powerautomate.svg);
}

.sampletype-item.powervirtualagents {
    background-image: url(../img/products/powervirtualagents.svg);
}

.sampletype-item.powerbi {
    background-image: url(../img/products/powerbi.svg);
}

.sampletype-item.powerfx {
    background-image: url(../img/products/powerfx.svg);
}

.sampletype-item.powerfxgeo {
    background-image: url(../img/filters/globe.svg);
}

.sampletype-item.powerfxnumbers {
    background-image: url(../img/filters/numbersymbol.svg);
}

.sampletype-item.powerfxdate {
    background-image: url(../img/filters/datetime.svg);
}

.sampletype-item.powerfxtext {
    background-image: url(../img/filters/plaintext.svg);
}

.sampletype-item.powerfxcolor {
    background-image: url(../img/filters/color.svg);
}



.sample-details .sampletype-item.powerapps {
    background: url(../img/products/powerapps.svg) no-repeat center #fff;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
}