{"swagger":"2.0","info":{"version":"1.0.0","title":"OpenAI","description":"new conn"},"host":"api.openai.com","basePath":"/v1","schemes":["https"],"consumes":[],"produces":["application/json"],"paths":{"/models":{"get":{"summary":"List models","description":"Lists the currently available engines, and provides basic information about each one such as the owner and availability.\n\n[See More](https://beta.openai.com/docs/api-reference/engines/list)\n","operationId":"ListModels","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"owned_by":{"type":"string","description":"owned_by"},"permission":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"allow_create_engine":{"type":"boolean","description":"allow_create_engine"},"allow_sampling":{"type":"boolean","description":"allow_sampling"},"allow_logprobs":{"type":"boolean","description":"allow_logprobs"},"allow_search_indices":{"type":"boolean","description":"allow_search_indices"},"allow_view":{"type":"boolean","description":"allow_view"},"allow_fine_tuning":{"type":"boolean","description":"allow_fine_tuning"},"organization":{"type":"string","description":"organization"},"group":{"type":"string","description":"group"},"is_blocking":{"type":"boolean","description":"is_blocking"}}},"description":"permission"},"root":{"type":"string","description":"root"},"parent":{"type":"string","description":"parent"}}},"description":"data"}}}}}}},"/models/{model_id}":{"get":{"summary":"Retrieve model","description":"Retrieves an engine instance, providing basic information about the engine such as the owner and availability.\n\n[See More](https://beta.openai.com/docs/api-reference/engines/retrieve)\n","operationId":"RetrieveModel","parameters":[{"name":"model_id","default":"babbage","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"owned_by":{"type":"string","description":"owned_by"},"permission":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"allow_create_engine":{"type":"boolean","description":"allow_create_engine"},"allow_sampling":{"type":"boolean","description":"allow_sampling"},"allow_logprobs":{"type":"boolean","description":"allow_logprobs"},"allow_search_indices":{"type":"boolean","description":"allow_search_indices"},"allow_view":{"type":"boolean","description":"allow_view"},"allow_fine_tuning":{"type":"boolean","description":"allow_fine_tuning"},"organization":{"type":"string","description":"organization"},"group":{"type":"string","description":"group"},"is_blocking":{"type":"boolean","description":"is_blocking"}}},"description":"permission"},"root":{"type":"string","description":"root"},"parent":{"type":"string","description":"parent"}}}}}}},"/completions":{"post":{"summary":"Create completion","description":"Creates a completion for the provided prompt and parameters.","operationId":"CreateCompletion","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"model":{"type":"string","description":"model"},"prompt":{"type":"string","description":"prompt"},"max_tokens":{"type":"integer","format":"int32","description":"max_tokens"},"temperature":{"type":"number","format":"float","description":"temperature"}},"default":{"model":"text-davinci-003","prompt":"Write a limmerick about APIs","max_tokens":250,"temperature":0.7}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"model":{"type":"string","description":"model"},"choices":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string","description":"text"},"index":{"type":"integer","format":"int32","description":"index"},"logprobs":{"type":"string","description":"logprobs"},"finish_reason":{"type":"string","description":"finish_reason"}}},"description":"choices"},"usage":{"type":"object","properties":{"prompt_tokens":{"type":"integer","format":"int32","description":"prompt_tokens"},"completion_tokens":{"type":"integer","format":"int32","description":"completion_tokens"},"total_tokens":{"type":"integer","format":"int32","description":"total_tokens"}},"description":"usage"}}}}}}},"/chat/completions":{"post":{"summary":"Create chat message completion","description":"Create chat message completion","operationId":"CreateChatMessageCompletion","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"object","properties":{"model":{"type":"string","description":"model"},"messages":{"type":"array","items":{"type":"object","properties":{"role":{"type":"string","description":"role"},"content":{"type":"string","description":"content"}}},"description":"messages"},"temperature":{"type":"integer","format":"int32","description":"temperature"},"top_p":{"type":"integer","format":"int32","description":"top_p"},"n":{"type":"integer","format":"int32","description":"n"},"stream":{"type":"boolean","description":"stream"},"max_tokens":{"type":"integer","format":"int32","description":"max_tokens"},"presence_penalty":{"type":"integer","format":"int32","description":"presence_penalty"},"frequency_penalty":{"type":"integer","format":"int32","description":"frequency_penalty"}},"default":{"model":"gpt-3.5-turbo","messages":[{"role":"user","content":"Where was it played?"},{"role":"assistant","content":"The Los Angeles Dodgers won the World Series in 2020."},{"role":"user","content":"Where was it played?"}],"temperature":1,"top_p":1,"n":1,"stream":false,"max_tokens":250,"presence_penalty":0,"frequency_penalty":0}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"model":{"type":"string","description":"model"},"usage":{"type":"object","properties":{"prompt_tokens":{"type":"integer","format":"int32","description":"prompt_tokens"},"completion_tokens":{"type":"integer","format":"int32","description":"completion_tokens"},"total_tokens":{"type":"integer","format":"int32","description":"total_tokens"}},"description":"usage"},"choices":{"type":"array","items":{"type":"object","properties":{"message":{"type":"object","properties":{"role":{"type":"string","description":"role"},"content":{"type":"string","description":"content"}},"description":"message"},"finish_reason":{"type":"string","description":"finish_reason"},"index":{"type":"integer","format":"int32","description":"index"}}},"description":"choices"}}}}}}},"/edits":{"post":{"summary":"Create edit","description":"Creates a new edit for the provided input, instruction, and parameters.","operationId":"CreateEdit","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"model":{"type":"string","description":"model"},"input":{"type":"string","description":"input"},"instruction":{"type":"string","description":"instruction"}},"default":{"model":"text-davinci-edit-001","input":"What day of the wek is it?","instruction":"Fix the spelling mistakes"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"created":{"type":"integer","format":"int32","description":"created"},"choices":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string","description":"text"},"index":{"type":"integer","format":"int32","description":"index"}}},"description":"choices"},"usage":{"type":"object","properties":{"prompt_tokens":{"type":"integer","format":"int32","description":"prompt_tokens"},"completion_tokens":{"type":"integer","format":"int32","description":"completion_tokens"},"total_tokens":{"type":"integer","format":"int32","description":"total_tokens"}},"description":"usage"}}}}}}},"/images/generations":{"post":{"summary":"Create image","description":"Creates an image given a prompt.","operationId":"CreateImage","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"prompt":{"type":"string","description":"prompt"},"n":{"type":"integer","format":"int32","description":"n"},"size":{"type":"string","description":"size"}},"default":{"prompt":"A cute baby sea otter","n":2,"size":"1024x1024"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"created":{"type":"integer","format":"int32","description":"created"},"data":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"url"}}},"description":"data"}}}}}}},"/images/edits":{"post":{"summary":"Create image edit","description":"Creates a variation of a given image.","operationId":"CreateImageEdit","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"created":{"type":"integer","format":"int32","description":"created"},"data":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"url"}}},"description":"data"}}}}}}},"/images/variations":{"post":{"summary":"Create image variation","description":"Creates a variation of a given image.","operationId":"CreateImageVariation","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"created":{"type":"integer","format":"int32","description":"created"},"data":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string","description":"url"}}},"description":"data"}}}}}}},"/audio/transcriptions":{"post":{"summary":"Create Transcription","description":"Create Transcription","operationId":"CreateTranscription","parameters":[{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"text":{"type":"string","description":"text"}}}}}}},"/audio/translations":{"post":{"summary":"Create Translation","description":"Create Translation","operationId":"CreateTranslation","parameters":[{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"text":{"type":"string","description":"text"}}}}}}},"/embeddings":{"post":{"summary":"Create embeddings","description":"Creates an embedding vector representing the input text.","operationId":"CreateEmbeddings","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"model":{"type":"string","description":"model"},"input":{"type":"string","description":"input"}},"default":{"model":"text-similarity-babbage-001","input":"I was looking for something interesting to write about when it came to technology..."}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"data":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"index":{"type":"integer","format":"int32","description":"index"},"embedding":{"type":"array","items":{"type":"number","format":"float"},"description":"embedding"}}},"description":"data"},"model":{"type":"string","description":"model"},"usage":{"type":"object","properties":{"prompt_tokens":{"type":"integer","format":"int32","description":"prompt_tokens"},"total_tokens":{"type":"integer","format":"int32","description":"total_tokens"}},"description":"usage"}}}}}}},"/files":{"get":{"summary":"List files","description":"Returns a list of files that belong to the user's organization.","operationId":"ListFiles","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"data":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"purpose":{"type":"string","description":"purpose"},"filename":{"type":"string","description":"filename"},"bytes":{"type":"integer","format":"int32","description":"bytes"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"status":{"type":"string","description":"status"},"status_details":{"type":"string","description":"status_details"}}},"description":"data"}}}}}},"post":{"summary":"Upload file","description":"Upload a file that contains document(s) to be used across various endpoints/features. Currently, the size of all the files uploaded by one organization can be up to 1 GB. Please contact us if you need to increase the storage limit.","operationId":"UploadFile","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"purpose":{"type":"string","description":"purpose"},"filename":{"type":"string","description":"filename"},"bytes":{"type":"integer","format":"int32","description":"bytes"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"status":{"type":"string","description":"status"},"status_details":{"type":"string","description":"status_details"}}}}}}},"/files/{file_id}":{"delete":{"summary":"Delete file","description":"Delete a file.","operationId":"DeleteFile","parameters":[{"name":"file_id","default":"file-a1damcA5590YJpVfifz9kLOH","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"deleted":{"type":"boolean","description":"deleted"}}}}}},"get":{"summary":"Retrieve files","description":"Retrieve files","operationId":"RetrieveFiles","parameters":[{"name":"file_id","default":"file-vGxE9KywnSUkEL6dv9qZxKAF","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"purpose":{"type":"string","description":"purpose"},"filename":{"type":"string","description":"filename"},"bytes":{"type":"integer","format":"int32","description":"bytes"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"status":{"type":"string","description":"status"},"status_details":{"type":"string","description":"status_details"}}}}}}},"/files/{file_id}/content":{"get":{"summary":"Retrieve file content","description":"Retrieve file content","operationId":"RetrieveFileContent","parameters":[{"name":"file_id","default":"file-vGxE9KywnSUkEL6dv9qZxKAF","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"string"}}}}},"/fine-tunes":{"post":{"summary":"Create fine-tune","description":"Creates a job that fine-tunes a specified model from a given dataset.\n\nModels eligble for fine tuning are: `ada`, `babbage`, `curie`, or `davinci`\n\nThe dataset (training file) should be formatted like below (JSONL)\n\n```\n{\"prompt\": \"<prompt>\", \"completion\": \"<ideal generated text>\"}\n{\"prompt\": \"<prompt>\", \"completion\": \"<ideal generated text>\"}\n{\"prompt\": \"<prompt>\", \"completion\": \"<ideal generated text>\"}\n\n```\n\n  \nFor example:  \n\n```\n{\"prompt\": \"Why did the chicken cross the road?\", \"completion\": \"Why not?\"}\n{\"prompt\": \"Why did the chicken use AI?\", \"completion\": \"To get to the other side\"}\n\n```\n\nNote that after a job completes it may take several minutes for your model to become ready to handle requests.","operationId":"CreateFine-tune","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"training_file":{"type":"string","description":"training_file"},"model":{"type":"string","description":"model"}},"default":{"training_file":"file-vGxE9KywnSUkEL6dv9qZxKAF","model":"davinci"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"hyperparams":{"type":"object","properties":{"n_epochs":{"type":"integer","format":"int32","description":"n_epochs"},"batch_size":{"type":"string","description":"batch_size"},"prompt_loss_weight":{"type":"number","format":"float","description":"prompt_loss_weight"},"learning_rate_multiplier":{"type":"string","description":"learning_rate_multiplier"}},"description":"hyperparams"},"organization_id":{"type":"string","description":"organization_id"},"model":{"type":"string","description":"model"},"training_files":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"purpose":{"type":"string","description":"purpose"},"filename":{"type":"string","description":"filename"},"bytes":{"type":"integer","format":"int32","description":"bytes"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"status":{"type":"string","description":"status"},"status_details":{"type":"string","description":"status_details"}}},"description":"training_files"},"validation_files":{"type":"array","items":{},"description":"validation_files"},"result_files":{"type":"array","items":{},"description":"result_files"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"updated_at":{"type":"integer","format":"int32","description":"updated_at"},"status":{"type":"string","description":"status"},"fine_tuned_model":{"type":"string","description":"fine_tuned_model"},"events":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"level":{"type":"string","description":"level"},"message":{"type":"string","description":"message"},"created_at":{"type":"integer","format":"int32","description":"created_at"}}},"description":"events"}}}}}},"get":{"summary":"List fine-tunes","description":"Creates a job that fine-tunes a specified model from a given dataset.","operationId":"ListFine-tunes","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"data":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"hyperparams":{"type":"object","properties":{"n_epochs":{"type":"integer","format":"int32","description":"n_epochs"},"batch_size":{"type":"integer","format":"int32","description":"batch_size"},"prompt_loss_weight":{"type":"number","format":"float","description":"prompt_loss_weight"},"learning_rate_multiplier":{"type":"number","format":"float","description":"learning_rate_multiplier"}},"description":"hyperparams"},"organization_id":{"type":"string","description":"organization_id"},"model":{"type":"string","description":"model"},"training_files":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"purpose":{"type":"string","description":"purpose"},"filename":{"type":"string","description":"filename"},"bytes":{"type":"integer","format":"int32","description":"bytes"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"status":{"type":"string","description":"status"},"status_details":{"type":"string","description":"status_details"}}},"description":"training_files"},"validation_files":{"type":"array","items":{},"description":"validation_files"},"result_files":{"type":"array","items":{},"description":"result_files"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"updated_at":{"type":"integer","format":"int32","description":"updated_at"},"status":{"type":"string","description":"status"},"fine_tuned_model":{"type":"string","description":"fine_tuned_model"}}},"description":"data"}}}}}}},"/fine-tunes/{fine_tune_id}":{"get":{"summary":"Retrieve fine-tune","description":"Creates a job that fine-tunes a specified model from a given dataset.","operationId":"RetrieveFine-tune","parameters":[{"name":"fine_tune_id","default":"ft-MH3TkRzJrC62xWaudm1aHqC5","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"hyperparams":{"type":"object","properties":{"n_epochs":{"type":"integer","format":"int32","description":"n_epochs"},"batch_size":{"type":"integer","format":"int32","description":"batch_size"},"prompt_loss_weight":{"type":"number","format":"float","description":"prompt_loss_weight"},"learning_rate_multiplier":{"type":"number","format":"float","description":"learning_rate_multiplier"}},"description":"hyperparams"},"organization_id":{"type":"string","description":"organization_id"},"model":{"type":"string","description":"model"},"training_files":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"purpose":{"type":"string","description":"purpose"},"filename":{"type":"string","description":"filename"},"bytes":{"type":"integer","format":"int32","description":"bytes"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"status":{"type":"string","description":"status"},"status_details":{"type":"string","description":"status_details"}}},"description":"training_files"},"validation_files":{"type":"array","items":{},"description":"validation_files"},"result_files":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"purpose":{"type":"string","description":"purpose"},"filename":{"type":"string","description":"filename"},"bytes":{"type":"integer","format":"int32","description":"bytes"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"status":{"type":"string","description":"status"},"status_details":{"type":"string","description":"status_details"}}},"description":"result_files"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"updated_at":{"type":"integer","format":"int32","description":"updated_at"},"status":{"type":"string","description":"status"},"fine_tuned_model":{"type":"string","description":"fine_tuned_model"},"events":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"level":{"type":"string","description":"level"},"message":{"type":"string","description":"message"},"created_at":{"type":"integer","format":"int32","description":"created_at"}}},"description":"events"}}}}}}},"/fine-tunes/{fine_tune_id}/cancel":{"post":{"summary":"Cancel fine-tune","description":"Creates a job that fine-tunes a specified model from a given dataset.","operationId":"CancelFine-tune","parameters":[{"name":"fine_tune_id","default":"ft-tMP2cW32xmBNF29Ng0IOHkJ3","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"hyperparams":{"type":"object","properties":{"n_epochs":{"type":"integer","format":"int32","description":"n_epochs"},"batch_size":{"type":"string","description":"batch_size"},"prompt_loss_weight":{"type":"number","format":"float","description":"prompt_loss_weight"},"learning_rate_multiplier":{"type":"string","description":"learning_rate_multiplier"}},"description":"hyperparams"},"organization_id":{"type":"string","description":"organization_id"},"model":{"type":"string","description":"model"},"training_files":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"purpose":{"type":"string","description":"purpose"},"filename":{"type":"string","description":"filename"},"bytes":{"type":"integer","format":"int32","description":"bytes"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"status":{"type":"string","description":"status"},"status_details":{"type":"string","description":"status_details"}}},"description":"training_files"},"validation_files":{"type":"array","items":{},"description":"validation_files"},"result_files":{"type":"array","items":{},"description":"result_files"},"created_at":{"type":"integer","format":"int32","description":"created_at"},"updated_at":{"type":"integer","format":"int32","description":"updated_at"},"status":{"type":"string","description":"status"},"fine_tuned_model":{"type":"string","description":"fine_tuned_model"},"events":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"level":{"type":"string","description":"level"},"message":{"type":"string","description":"message"},"created_at":{"type":"integer","format":"int32","description":"created_at"}}},"description":"events"}}}}}}},"/fine-tunes/{fine_tune_id}/events":{"get":{"summary":"List fine-tune events","description":"Creates a job that fine-tunes a specified model from a given dataset.","operationId":"ListFine-tuneEvents","parameters":[{"name":"fine_tune_id","default":"ft-MH3TkRzJrC62xWaudm1aHqC5","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"data":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"level":{"type":"string","description":"level"},"message":{"type":"string","description":"message"},"created_at":{"type":"integer","format":"int32","description":"created_at"}}},"description":"data"}}}}}}},"/moderations":{"post":{"summary":"Create moderation","description":"Creates a completion for the provided prompt and parameters.","operationId":"CreateModeration","parameters":[{"name":"body","in":"body","schema":{"type":"object","properties":{"input":{"type":"string","description":"input"}},"default":{"input":"I want to kill them."}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"id":{"type":"string","description":"id"},"model":{"type":"string","description":"model"},"results":{"type":"array","items":{"type":"object","properties":{"categories":{"type":"object","properties":{"hate":{"type":"boolean","description":"hate"},"hate/threatening":{"type":"boolean","description":"hate/threatening"},"self-harm":{"type":"boolean","description":"self-harm"},"sexual":{"type":"boolean","description":"sexual"},"sexual/minors":{"type":"boolean","description":"sexual/minors"},"violence":{"type":"boolean","description":"violence"},"violence/graphic":{"type":"boolean","description":"violence/graphic"}},"description":"categories"},"category_scores":{"type":"object","properties":{"hate":{"type":"number","format":"float","description":"hate"},"hate/threatening":{"type":"number","format":"float","description":"hate/threatening"},"self-harm":{"type":"number","format":"float","description":"self-harm"},"sexual":{"type":"number","format":"float","description":"sexual"},"sexual/minors":{"type":"number","format":"float","description":"sexual/minors"},"violence":{"type":"number","format":"float","description":"violence"},"violence/graphic":{"type":"number","format":"float","description":"violence/graphic"}},"description":"category_scores"},"flagged":{"type":"boolean","description":"flagged"}}},"description":"results"}}}}}}},"/engines":{"get":{"summary":"List engines","description":"Lists the currently available engines, and provides basic information about each one such as the owner and availability.\n\n[See More](https://beta.openai.com/docs/api-reference/engines/list)\n","operationId":"ListEngines","parameters":[],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"data":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"ready":{"type":"boolean","description":"ready"},"owner":{"type":"string","description":"owner"},"permissions":{"type":"string","description":"permissions"},"created":{"type":"string","description":"created"}}},"description":"data"}}}}}}},"/engines/{engineId}":{"get":{"summary":"Retrieve engine","description":"Retrieves an engine instance, providing basic information about the engine such as the owner and availability.\n\n[See More](https://beta.openai.com/docs/api-reference/engines/retrieve)\n","operationId":"RetrieveEngine","parameters":[{"name":"engineId","default":"babbage","in":"path","type":"string","required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"id":{"type":"string","description":"id"},"ready":{"type":"boolean","description":"ready"},"owner":{"type":"string","description":"owner"},"permissions":{"type":"string","description":"permissions"},"created":{"type":"string","description":"created"}}}}}}},"/engines/{engine_id}/search":{"post":{"summary":"Search","description":"The search endpoint computes similarity scores between provided query and documents. Documents can be passed directly to the API if there are no more than 200 of them.To go beyond the 200 document limit, documents can be processed offline and then used","operationId":"Search","parameters":[{"name":"engine_id","default":"davinci","in":"path","type":"string","required":true},{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"object","properties":{"query":{"type":"string","description":"query"},"documents":{"type":"array","items":{"type":"string"},"description":"documents"},"file":{"type":"string","description":"file"},"max_rerank":{"type":"integer","format":"int32","description":"max_rerank"},"return_metadata":{"type":"boolean","description":"return_metadata"},"user":{"type":"string","description":"user"}},"default":{"query":"the president","documents":["mollit cillum irure"],"file":"tempor deserunt of","max_rerank":200,"return_metadata":false,"user":"user-1234"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"model":{"type":"string","description":"model"},"data":{"type":"array","items":{"type":"object","properties":{"object":{"type":"string","description":"object"},"document":{"type":"integer","format":"int32","description":"document"},"score":{"type":"number","format":"float","description":"score"}}},"description":"data"}}}}}}},"/answers":{"post":{"summary":"Answer Question","description":"Answers the specified question using the provided documents and examples.The endpoint first [searches](/docs/api-reference/searches) over provided documents or files to find relevant context. The relevant context is combined with the provided examples a","operationId":"AnswerQuestion","parameters":[{"name":"Content-Type","in":"header","required":true,"type":"string","default":"application/json","description":"Content-Type"},{"name":"Accept","in":"header","required":true,"type":"string","default":"application/json","description":"Accept"},{"name":"body","in":"body","schema":{"type":"object","properties":{"model":{"type":"string","description":"model"},"question":{"type":"string","description":"question"},"examples":{"type":"array","items":{"type":"array","items":{"type":"string"}},"description":"examples"},"examples_context":{"type":"string","description":"examples_context"},"documents":{"type":"array","items":{"type":"string"},"description":"documents"},"file":{"type":"string","description":"file"},"search_model":{"type":"string","description":"search_model"},"max_rerank":{"type":"integer","format":"int32","description":"max_rerank"},"temperature":{"type":"integer","format":"int32","description":"temperature"},"logprobs":{"type":"string","description":"logprobs"},"max_tokens":{"type":"integer","format":"int32","description":"max_tokens"},"stop":{"type":"string","description":"stop"},"n":{"type":"integer","format":"int32","description":"n"},"logit_bias":{"type":"string","description":"logit_bias"},"return_metadata":{"type":"boolean","description":"return_metadata"},"return_prompt":{"type":"boolean","description":"return_prompt"},"user":{"type":"string","description":"user"}},"default":{"model":"ipsum occaecat","question":"What is the capital of Japan?","examples":[["esse","dolo"]],"examples_context":"Ottawa, Canada's capital, is located in the east of southern Ontario, near the city of Montréal and the U.S. border.","documents":["est in mollit nisi elit","consectetur exercitation quis cil"],"file":"ipsum esse minim Lorem","search_model":"ada","max_rerank":200,"temperature":0,"logprobs":null,"max_tokens":16,"stop":"\n","n":1,"logit_bias":null,"return_metadata":false,"return_prompt":false,"user":"user-1234"}},"required":true}],"responses":{"200":{"description":"200","schema":{"type":"object","properties":{"object":{"type":"string","description":"object"},"model":{"type":"string","description":"model"},"search_model":{"type":"string","description":"search_model"},"completion":{"type":"string","description":"completion"},"answers":{"type":"array","items":{"type":"string"},"description":"answers"},"selected_documents":{"type":"array","items":{"type":"object","properties":{"document":{"type":"integer","format":"int32","description":"document"},"text":{"type":"string","description":"text"}}},"description":"selected_documents"}}}}}}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}